[defaults]

#--- General Settings
[defaults]
forks                = 5
log_path             = /var/log/ansible.log
module_name          = command
executable           = /bin/bash
ansible_managed      = Ansible managed
command_warnings     = False
deprecation_warnings = False
ignore_errors        = yes
ignore_unreachable   = yes


ansible_user         = cteixeira@lab.ansible.com
ansible_password     = root.123
ansible_connection   = winrm
ansible_winrm_transport = ntlm


#--- Files/Directory settings
inventory            = /etc/ansible/hosts
library              = /usr/share/my_modules
remote_tmp           = ~/.ansible/tmp
local_tmp            = ~/.ansible/tmp
roles_path           = /etc/ansible/roles


#--- Users settings
remote_user          = root
sudo_user            = root
ask__pass            = no
ask-sudo_pass        = no



[privilege_scalation]
become               = True
become_method        = sudo
become_user          = root
become_ask_pass      = False
 

[ssh_connection]
remote_port          = 22
timeout              = 10
hosts_key_checking   = False
ssh_executable       = /usr/bin/ssh 
private_key_file     = /root/.ssh/id_rsa
scp_if_ssh           = smart
transfer_method      = smart
retries              = 3


